import(
  "stats",
  "sets"
)

export(
  "blim",
  "blimMD",
  "as.pattern",
  "as.binmat",
  "is.forward.graded",
  "is.backward.graded",
  "delineate",
  "jacobian"
)

S3method("print", "blim")
S3method("logLik", "blim")
S3method("nobs", "blim")
S3method("residuals", "blim")
S3method("plot", "blim")
S3method("simulate", "blim")

