import("stats")
import("sets")

importFrom("graphics", "abline", "panel.smooth", "plot")

export(
  "blim",
  "blimMD",
  "as.pattern",
  "as.binmat",
  "is.forward.graded",
  "is.backward.graded",
  "delineate",
  "jacobian",
  "ita"
)

S3method("anova", "blim")
S3method("coef", "blim")
S3method("deviance", "blim")
S3method("logLik", "blim")
S3method("nobs", "blim")
S3method("residuals", "blim")
S3method("plot", "blim")
S3method("print", "blim")
S3method("simulate", "blim")
S3method("print", "ita")

